<section class="evento">
    <div class="evento-container">
        <div class="evento-item">
            <img src="/assets/img/WkmgQISKiC.jpg" class="circulo" alt="">
            <section class="evento-text">
                <h2>tituloo del evento</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ea distinctio architecto tempore optio! Molestias!</p>
            </section>
        </div>

        <div class="evento-item">
            <img src="/assets/img/WkmgQISKiC.jpg" class="circulo" alt="">
            <section class="evento-text">
                <h2>titulo del evento</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ea distinctio architecto tempore optio! Molestias!</p>
            </section>
        </div>

        <div class="evento-item">
            <img src="/assets/img/WkmgQISKiC.jpg" class="circulo" alt="">
            <section class="evento-text">
                <h2>titulo del evento</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ea distinctio architecto tempore optio! Molestias!</p>
            </section>
        </div>
    </div>
</section>

<!--noticias-->
<section class="noticias">
    <div class="rownoticias">
        <div class="col-lg-7">
            <h1>NOTICIAS</h1>
            <h2>LAS NOTICIAS MAS RELEVANTES</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda aperiam doloribus consectetur obcaecati inventore cum aut minima a nihil perspiciatis saepe blanditiis magnam, beatae soluta repellendus, fugiat aliquid ipsum sed.Lorem ipsum
                dolor sit, amet consectetur adipisicing elit. Assumenda aperiam doloribus consectetur obcaecati inventore cum aut minima a nihil perspiciatis saepe blanditiis magnam, beatae soluta repellendus, fugiat aliquid ipsum sed.Lorem ipsum dolor
                sit, amet consectetur adipisicing elit. Assumenda aperiam doloribus consectetur obcaecati inventore cum aut minima a nihil perspiciatis saepe blanditiis magnam, beatae soluta repellendus, fugiat aliquid ipsum sed.</p>
        </div>

        <div class="notice col-lg-3">
            <div class="container">


                <img src="/assets/img/WkmgQISKiC.jpg" alt=""> git

            </div>
        </div>
    </div>
</section>

<section class="tienda">
    <div class="tienda-container">
        <section class="tienda-item">
            <img src="/assets/img/publicidad tienda1.jpg" alt="">
            <section class="tienda-text">
                <h1>OBTEN NUEVAS PRENDAS</h1>
                <h2>A CAMBIO DE LAS QUE NO USAS</h2>
                <section class="tienda-link">
                    <button type="button" class="btn btn-warning">VER MAS</button>
                </section>
            </section>
        </section>
    </div>
</section>


<section class="line1"></section>