<section class="banner">
    <img src="/assets/img/portada 1.jpg" alt="">
</section>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand d-none d-block d-sm-none d-none d-sm-block d-md-none d-none d-md-block d-lg-none" href="#">
        <img src="/assets/img/95586696_668637760365421_8221156815790931968_n.jpg" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Quienes  Somos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tienda</a>
            </li>
        </ul>



        <a class="navbar-brand d-none d-sm-none d-none d-lg-block d-xl-none d-none d-xl-block" href="#">
            <img src="/assets/img/95586696_668637760365421_8221156815790931968_n.jpg" alt="">
        </a>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Eventos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Noticias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contactanos</a>
            </li>
        </ul>
    </div>
</nav>










<!--<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
    <img src="/assets/img/95586696_668637760365421_8221156815790931968_n.jpg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse  " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item brand">

            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>

    </div>
</nav>-->




<!--<nav class="navbar navbar-expand-lg   nav justify-content-center">

    <div class="nav" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">inicio </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">quienes somos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Tienda</a>
            </li>

            <a class="navbar-brand" href="#">
                <img src="/assets/img/95586696_668637760365421_8221156815790931968_n.jpg" alt="">
            </a>

            <li class="nav-item">
                <a class="nav-link " href="#">Eventos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Noticias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Contactanos</a>
            </li>
        </ul>
    </div>
</nav>
-->